@page
@model DailyPlanner.Pages.NotesModel
@{
}

<div class="content">
    <div class="notes-content">
            <div id="notebooks-root">


                
            </div>

        
    </div>
</div>

<script src="~/dist/noteBooks.js"></script>